.card {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin: 30px 2em 50px 2em;
  padding: 12px;
  min-height: 450px;
  width: 350px;
  background-color: white;
  border-radius: 15px;
  position: relative;
}
.card:hover {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  margin-top: 20px;
}
.card img {
  width: 100%;
  height: 250px;
  border-radius: 15px;
}

.card .imgReversed {
  border-radius: 15px !important;
}

.card h2 {
  margin: 0;
  margin-top: 1rem;
  color: gray;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 400;
}

.card h3 {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}
.card h6 {
  font-family: 'Roboto';
  margin: 0;
  color: gray;
  font-size: 14px;
}

.card h3:hover {
  text-decoration: underline;
}

.card p {
  font-family: 'Roboto';
  color: var(--gray);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.information_container {
  display: flex;
  gap: 10px;
  position: absolute;
  width: 94%;
  justify-content: space-between;
  bottom: 30px;
  right: 10px;
  align-items: center;
}
.information_container > h6 {
  flex-basis: 80%;
}
@media screen and (max-width: 768px) {
  .card {
    width: 90%;
    height: 100%;
  }

  .card img {
    width: 100%;
    height: 250px;
  }
  .card h1 {
    font-size: 16px;
  }
  .card h2 {
    font-size: 20px;
  }
  .card p {
    font-size: 14px;
  }
}
