:root {
  --background-color: #f4f8fb;
  --gray: #9f9f9f;
  --gray-2: #e6e6e6;
  --blue: #67aadc;
  --blue-hover: #518ab6;
  --blue-2: #2698ee;
  --hover-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.App {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
.link {
  font-size: 18px;
  font-weight: 500;
}
.brand {
  font-size: 28px;
  font-weight: 700;
}
.link,
.brand {
  color: black;
}
.card-title {
  min-height: 42px;
}
